* {
  margin: 0;
  padding: 0;
}
.bannerList {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.banner i {
  margin-top: 10px;
  padding: 10px;
  font-size: 64px;
}

.input input{
  height: 40px;
  /*
  background-color: #6d3d97;
  border: 1px solid white;
  border-radius: 5px;
  */
  margin-top: 10px;
  margin-right: 10px;
  padding: 0 5px;
}

.input select {
  padding: 0 5px;
  margin-top: 10px;
  margin-right: 10px;
}

.input button {
  margin-top: 10px;
  height: 40px;
  vertical-align: middle;
}

.listitem {
  margin-top: 5px;
}
.listitem img {
  border-radius: 5px;
  width: 100px;
  height: 100px;
}
